/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

.tooltip-souvenir-receipt
{
	flow-children: down;
	width: 340px;
}

.tooltip-souvenir-receipt .tooltip-souvenir-receipt__header
{
	font-size: 14px;
	background-color: rgba(255, 255, 255, 0.062);
	padding: 8px 8px;
	border-radius: 6px ;
}

.tooltip-souvenir-receipt .tooltip-souvenir-receipt__list
{
	flow-children: down;
	border-top: 1px solid rgba(255, 255, 255, 0.014);
	margin-top: 8px;
	padding-top: 8px;
	horizontal-align: center;
	width: 100%;
}

.tooltip-souvenir-receipt .tooltip-souvenir-receipt__row
{
	flow-children: right;
	width: 100%;
	margin: 4px 0px;
}

.tooltip-souvenir-receipt .tooltip-souvenir-receipt__row .tooltip-souvenir-receipt__name
{
	horizontal-align: right;
	width: fill-parent-flow(1);
	height:16px;
	text-overflow: ellipsis;
	font-size: 14px;
	font-weight: bold;
}

.tooltip-souvenir-receipt .tooltip-souvenir-receipt__row .tooltip-souvenir-receipt__discount
{
	horizontal-align: right;
	text-align: right;
	font-size: 14px;
	background-color: positiveColor;
	font-weight: bold;
	padding: 2px 4px;
	border-radius: 3px;
	color: black;
}

.tooltip-souvenir-receipt .tooltip-souvenir-receipt__row .cart-item__currency
{
	font-size: 14px;
	margin-right: 4px;
	transform: translateY(-1px);
}

.tooltip-souvenir-receipt .tooltip-souvenir-receipt__row .tooltip-souvenir-receipt__price
{
	horizontal-align: right;
	text-align: right;
	font-size: 14px;
}

.tooltip-souvenir-receipt .tooltip-souvenir-receipt__row .tooltip-souvenir-receipt__price .inline-coin-icon
{
	height: 13px;
	width: 13px;
	vertical-align: top;
	transform: translateY(-2px);
}

