/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CSColorPicker
{
	flow-children: down;
}

CSColorPicker #SaturationValueSelector
{
	width: 100%;
	height: 150px;
	margin-bottom: 3px;
}

CSColorPicker #HueSelector
{
	width: 100%;
	height: 20px;
	margin-bottom: 3px;
}

CSColorPickerHue #Canvas
{
	width: 100%;
	height: 100%;
}

CSColorPickerSaturationValue #Canvas
{
	width: 100%;
	height: 100%;
}

CSColorPicker #HexRgb
{
	width: 100%;
	height: 35px;
}

