/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

.popup-shopping-cart-checkout
{
	width: 100%;
	height: 100%;
	max-width: 100%;
	background-color: none;
	border: 0px solid white margin: 0px;
	padding: 0px;
	transform: scale3d( 1, 1, 1);
	flow-children: none;
}

.cart-checkout__container-bg
{
	height: 640px;
	width: 880px;
	vertical-align: center;
	horizontal-align: center;
	background-color: major-hub-btn-dark-color-major-26;
	border: 1px solid rgb(54, 83, 54);
	box-shadow: fill rgba(0, 0, 0, 0.4) 0px 4px 32px 1;
	blur: mipmapgaussian( 2, 2, 4 );
	background-image: url("s2r://panorama/images/tournaments/backgrounds/pickem_bg_26_png.vtex");
	background-img-opacity: .6;
	background-repeat: no-repeat;
	background-size: auto 120%;
	background-position: 50% 50%;
}

.popup-major-store__top-bar__balance
{
	margin-right: 0px;
}

.shopping-oneoff-cart .cart-checkout__clear-all
{
	visibility: collapse;
}

.shopping-oneoff-cart .cart-item__quantity
{
	visibility: collapse;
}

.cart-checkout__container
{
	height: 640px;
	vertical-align: center;
	horizontal-align: center;
	flow-children: down;
	padding: 16px;
	transition-property: width, height;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.cart-checkout__container .cart-checkout__left-column
{
	flow-children: down;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	width: 480px;
	border-radius: 6px;
}

.cart-checkout__container .cart-checkout__left-column .cart-checkout__lister-header
{
	margin: 24px 24px 0px 24px;
	width: 100%;
}

.empty-cart .cart-checkout__container .cart-checkout__left-column .cart-checkout__lister-header
{
	visibility: collapse;
}

.cart-checkout__container .cart-checkout__left-column .cart-checkout__lister-header .cart-checkout__clear-all
{
	flow-children: right;
	horizontal-align: right;
	vertical-align: center;
	padding: 4px;
	background-color: rgba(255, 255, 255, 0.025);
	border-radius: 3px;
	transition-property: brightness;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.cart-checkout__container .cart-checkout__left-column .cart-checkout__lister-header .cart-checkout__clear-all Label
{
	font-size: 12px;
	vertical-align: center;
}

.cart-checkout__container .cart-checkout__left-column .cart-checkout__lister-header .cart-checkout__clear-all Image
{
	vertical-align: center;
	margin-right: 4px;
}

.cart-checkout__container .cart-checkout__left-column .cart-checkout__lister-header .cart-checkout__clear-all:hover
{
	brightness: 1.5;
}

.cart-checkout__container .cart-checkout__empty
{
	width: 100%;
	height: 100%;
	flow-children: down;
	visibility: collapse;
}

.empty-cart .cart-checkout__container .cart-checkout__empty
{
	visibility: visible;
}

.cart-checkout__container .cart-checkout__empty Image
{
	horizontal-align: center;
	margin-bottom: 32px;
	opacity: .025;
}

.cart-checkout__container .cart-checkout__empty Label
{
	horizontal-align: center;
	text-align: center;
	margin: 2px 0px;
	width: 75%;
}

.cart-checkout__container .cart-checkout__lister
{
	flow-children: down;
	height: 100%;
	overflow: clip scroll;
	padding: 24px;
	width: 100%;
}

.cart-checkout__container .cart-checkout__summary
{
	horizontal-align: center;
	margin-left: 24px;
	flow-children: down;
	background-color: rgba(0, 0, 0, 0.308);
	padding: 16px;
	border-radius: 6px;
	width: 320px;
	height: fill-parent-flow(1);
}

.cart-checkout__container .cart-checkout__summary .cart-checkout__summary__row
{
	width: 100%;
	margin: 4px 0px;
}

.cart-checkout__container .cart-checkout__summary .cart-checkout__summary__row .cart-checkout__summary__row__title
{
	font-size: 14px;
}

.cart-checkout__container .cart-checkout__summary .cart-checkout__summary__row .cart-checkout__summary__row__value
{
	text-align: right;
	horizontal-align: right;
	font-weight: bold;
	font-size: 18px;
}

.cart-checkout__container .cart-checkout__summary .PopupButtonTimer
{
	width: 100%;
	margin: 0px;
	background-color: rgb(4, 82, 31);
	tooltip-position: bottom;
	tooltip-body-position: 0% 50%;
	z-index: 2;
	transition-property: width, wash-color, border;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.cart-checkout__container .cart-checkout__summary .PopupButtonTimer Label
{
	font-size: 20px;
	height: 22px;
	color: white;
	margin: 10px 2px;
}

.cart-checkout__container .cart-checkout__summary .PopupButtonTimer:disabled
{
	background-color: rgb(5, 70, 27);
	z-index: 1;
}

.cart-checkout__container .cart-checkout__summary .PopupButtonTimer:disabled Label
{
	color:rgba(255, 255, 255, 0.432);
}

.cart-checkout__container .cart-checkout__summary .cart-checkout__summary__activate
{
	margin-top: 16px;
	width: 100%;
	flow-children: down;
	border-top: 1px solid rgba(255, 255, 255, 0.123);
}

.cart-checkout__summary__progress
{
	flow-children: right;
	width: 100%;
	opacity: 1;
	height: 90px;
	transition-property: opacity, height, position;
	transition-duration: .15s;
	transition-timing-function: ease-in-out;
}

.cart-checkout__summary__progress.hide
{
	height: 0px;
	opacity: 0;
}

.cart-checkout__summary__progress .cart-checkout__spinner
{
	ignore-parent-flow: true;
	z-index: 2;
	width: 28px;
	height: 28px;
	horizontal-align: left;
	margin-top: -1px;
	margin-left: 83px;
	visibility: collapse;
}

.show-spinner.cart-checkout__summary__progress .cart-checkout__spinner
{
	visibility: visible;
}

.cart-checkout__summary__progress .cart-checkout__summary__progress__tokens
{
	width: 72px;
	font-size: 18px;
	opacity: 0;
	text-overflow: shrink;
	text-align: right;
	vertical-align: center;
	transform: translateY(1px);
}

.cart-checkout__summary__progress .cart-checkout__summary__progress-connector
{
	flow-children: down;
	margin: 0px 14px;
	vertical-align: center;
}

.cart-checkout__summary__progress .cart-checkout__summary__progress-connector .cart-checkout__summary__line
{
	width: 2px;
	height: fill-parent-flow(1);
	background-color: rgba(255, 255, 255, 0.04);
	horizontal-align: center;
	opacity: 1;
}

.cart-checkout__summary__progress .cart-checkout__summary__progress-connector .cart-checkout__summary__line.hide-top-line,.cart-checkout__summary__progress .cart-checkout__summary__progress-connector .cart-checkout__summary__line.hide-bottom-line
{
	opacity: 0;
}

.cart-checkout__summary__progress .cart-checkout__summary__progress-connector .cart-checkout__summary__middle
{
	width: 14px;
	height: 14px;
	margin: 4px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.04);
	horizontal-align: center;
}

.cart-checkout__summary__progress .cart-checkout__summary__progress-connector .cart-checkout__summary__cart-icon
{
	vertical-align: center;
	opacity: .1;
}

.cart-checkout__summary__progress.active .cart-checkout__summary__progress__tokens
{
	opacity: 1;
	color: white;
}

.cart-checkout__summary__progress.active .cart-checkout__summary__middle
{
	background-color: white;
}

.cart-checkout__summary__progress.active .cart-checkout__summary__cart-icon
{
	opacity: 1;
}

.show-spinner.cart-checkout__summary__progress.active .cart-checkout__summary__cart-icon
{
	opacity: .1;
}

.cart-checkout-not-enough-tokens
{
	padding-top: 16px;
	margin-top:0px;
	border-top: 0px solid rgba(255, 255, 255, 0.123);
	flow-children: down;
	width: 100%;
	opacity: 0;
	height: 0px;
	transition-property: opacity, height,margin-top;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.cart-checkout-not-enough-tokens.show
{
	opacity: 1;
	height: 72px;
	margin-top: 16px;
	border-top: 1px solid rgba(255, 255, 255, 0.123);
}

.cart-checkout__warning
{
	width: 100%;
	background-color: rgba(139, 126, 0, 0.459);
	border-radius: 6px;
	flow-children: right;
	padding: 16px;
	margin-bottom: 8px;
}

.cart-checkout__warning Image
{
	vertical-align: center;
	horizontal-align: center;
	margin-right: 8px;
}

.cart-checkout__warning Label
{
	font-size: 16px;
}

.cart-item
{
	flow-children: right;
	margin: 4px 0px;
	padding: 8px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.308);
	border-radius: 6px;
	opacity: 1;
	transition-property: opacity, position;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.cart-item .cart-item__image
{
	width: 80px;
	height: 60px;
	transition-property: brightness, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.cart-item .cart-item__image:hover
{
	brightness: 1.5;
	transform: translateY(-2px);
}

.cart-item .cart-item__name
{
	font-size: 14px;
	vertical-align: center;
	width: 170px;
	text-overflow: shrink;
}

.cart-item .cart-item__right-block
{
	flow-children: down;
	vertical-align: center;
	horizontal-align: right;
}

.cart-item .cart-item__right-block .cart-item__real-world-price
{
	font-size: 18px;
	text-align: right;
	horizontal-align: right;
	margin-bottom: 2px;
}

.cart-item .cart-item__right-block .cart-item__real-world-price.hidden
{
	opacity: 0;
}

.cart-item .cart-item__right-block .cart-item__price
{
	font-size: 18px;
	font-weight: bold;
	text-align: right;
	horizontal-align: right;
	margin-bottom: 4px;
	padding: 0px 4px;
	border-radius: 14px;
	color: black;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #efefef ), to( rgb( 212, 211, 211 )));
}

.cart-item .cart-item__right-block .cart-item__price-change
{
	opacity: 0;
	width: 0px;
	max-height: 18px;
	transform: translateX( 30px);
	flow-children: right;
	tooltip-position: left;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	vertical-align: center;
	margin: 0px 4px 4px 0px;
	padding: 2px 4px 2px 4px;
	transition-property: opacity, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.cart-item .cart-item__right-block .cart-item__price-change Label
{
	text-align: left;
	horizontal-align: left;
	color: black;
	font-size: 12px;
}

.cart-item .cart-item__right-block .cart-item__price-change Image
{
	height: 12px;
	width: 12px;
	vertical-align: center;
	wash-color: black;
}

.cart-item .cart-item__right-block .cart-item__price-change.lower
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgb(21, 201, 21) ), to( rgba(21, 201, 21, 0) ));
}

.cart-item .cart-item__right-block .cart-item__price-change.lower Image
{
	transform: rotateZ(-90deg);
}

.cart-item .cart-item__right-block .cart-item__price-change.higher
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgb(255, 196, 0) ), to( rgba(212, 211, 211, 0)));
}

.cart-item .cart-item__right-block .cart-item__price-change.higher Image
{
	transform: rotateZ(90deg);
}

.cart-item .cart-item__right-block .cart-item__price-change.show-change
{
	opacity: 1;
	transform: translateX(0px);
	width: fit-children;
}

.cart-item .cart-item__right-block .cart-item__price-loading
{
	background-color: rgb(210, 207, 207);
	padding: 2px 6px;
	border-radius: 16px;
	horizontal-align: center;
	visibility: collapse;
	width: 100%;
}

.cart-item .cart-item__right-block .cart-item__price-loading .popup-major-store__refresh-icon
{
	margin:0px;
	height: 18px;
	width: 18px;
	wash-color:black;
}

.cart-item .cart-item__right-block .cart-item__quantity
{
	flow-children: right;
	horizontal-align: right;
	transition-property: transformm, opacity;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.cart-item .cart-item__right-block .cart-item__quantity .cart-item__quantity__count
{
	font-size: 13px;
	width: 18px;
	vertical-align: center;
	text-align: center;
	font-weight: bold;
	margin: 0px 4px;
}

.cart-item .cart-item__right-block .cart-item__quantity .cart-item__quantity-btn
{
	width: 18px;
	height: 18px;
	vertical-align: center;
	padding: 0px 4px;
	border-radius: 2px;
	background-color: rgba(255, 255, 255, 0.034);
	transition-property: brightness;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.cart-item .cart-item__right-block .cart-item__quantity .cart-item__quantity-btn Label
{
	font-size: 13px;
	text-align: center;
	vertical-align: center;
	horizontal-align: center;
	font-weight: bold;
}

.cart-item .cart-item__right-block .cart-item__quantity .cart-item__quantity-btn:hover
{
	brightness: 2;
}

.cart-item .cart-item__right-block .cart-item__quantity .cart-item__trash-btn
{
	width: 18px;
	height: 18px;
	vertical-align: center;
	margin-right: 8px;
}

.cart-item .cart-item__right-block .cart-item__quantity .cart-item__trash-btn Image
{
	vertical-align: center;
	horizontal-align: center;
	brightness: .7;
}

.cart-item .cart-item__right-block .cart-item__quantity .cart-item__trash-btn:hover
{
	brightness: 1;
	background-color: rgba(255, 255, 255, 0.034);
}

.cart-item:first-child
{
	margin-top: 0px;
}

.cart-item.hide-for-delete
{
	opacity: 0;
	transition-property: opacity, height;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;
}

.cart-checkout__purchase-row
{
	horizontal-align: right;
	flow-children: right;
	vertical-align: bottom;
	margin: 8px 0px 0px 0px;
}

